<!-- app/views/data_retention_mailer/old_transactions_notification.html.erb -->
<h2>Hola!,</h2>
<p>
  Adjunto encontrarás el reporte de finanzas correspondiente al mes de <strong><%= @month %></strong>.
</p>

<p>
  Si necesitas conservar esta información, asegúrate de guardar el archivo adjunto.
</p>